<div class="product-card">
    <div class="product-header">
        <div class="product-image">
            <img src="https://images.unsplash.com/photo-1553742198-6eea5ac42a24?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="espresso">
        </div>
        <button class="add-to-cart">
            <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
        </button>
    </div>

    <div class="product-details">
        <h2 class="product-title">Espresso</h2>
        <h2 class="product-price">$2.6</h2>
    </div>
    <div class="product-sizes">
        <ul class="size-list">
            <li class="size-item">
                <div class="size-icon active">
                    <img src="../../assets/cup.svg" alt="Small" style="width: 28px;">
                </div>
                <span>S</span>
            </li>
            <li class="size-item">
                <div class="size-icon">
                    <img src="../../assets/cup.svg" alt="Medium" style="width: 28px;">
                </div>
                <span>M</span>
            </li>
            <li class="size-item">
                <div class="size-icon">
                    <img src="../../assets/cup.svg" alt="Large" style="width: 28px;">
                </div>
                <span>L</span>
            </li>
            <li class="size-item">
                <div class="size-icon">
                    <img src="../../assets/cup.svg" alt="Extra Large" style="width: 28px;">
                </div>
                <span>XL</span>
            </li>
        </ul>
    </div>
</div>