<div nz-row>
    <div nz-col nzFlex="5">
        <div nz-flex nzAlign="center" nzJustify="start">
            <h1 class="logo">Coffee</h1>
            <div class="input-container">
                <input type="text" placeholder="Search for Coffee, food etc">
                <i class="material-icons">search</i> <!-- Icon placeholder -->
            </div>
        </div>
    </div>

    <div nz-col nzFlex="3">
        <div nz-flex nzAlign="center" nzGap="10px" nzJustify="end">
            <div class="icon-tag">
                <mat-icon class="material-icons-outlined">confirmation_number</mat-icon>
            </div>
            <div class="icon-tag">
                <mat-icon class="material-icons-outlined">auto_graph</mat-icon>
            </div>
            <div class="icon-tag">
                <mat-icon class="material-icons-outlined">settings</mat-icon>
            </div>
            <div class="profile">
                <div class="icon-tag">
                    <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                </div>
                <p>
                    Cashier <mat-icon style="vertical-align: middle; ">keyboard_arrow_down</mat-icon>
                </p>
            </div>
        </div>
    </div>
</div>