<div class="item-details" nz-flex nzAlign="center" nzGap="10px">
    <img src="https://images.unsplash.com/photo-1553742198-6eea5ac42a24?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA=="
        alt="Espresso">
    <div class="text">
        <p>Espresso</p>
        <span>$2.6</span>
    </div>
</div>

<div class="quantity-controls" nz-flex nzAlign="center" nzGap="10px">
    <button class="circle-button" aria-label="Decrease quantity">
        <mat-icon class="material-icons-outlined">remove</mat-icon>
    </button>
    <span class="quantity">1</span>
    <button class="circle-button" aria-label="Increase quantity">
        <mat-icon class="material-icons-outlined">add</mat-icon>
    </button>
</div>