.layout-container {
  display: flex;
  height: 100svh;
}
.container {
  width: 100%;
  padding: 30px;

  background-color: #f9f8fb;
  height: 100svh;
  // overflow: hidden;
}
.main {
  height: 100svh;
  padding: 20px 30px;
  background-color: #f9f8fb;
  border-radius: 40px 0 0 40px;
  overflow: hidden;
  min-width: 380px;
}
.categories {
  width: 100%;
  overflow-x: auto;
}
.invoice {
  height: 85svh;
  margin-left: 20px;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.product-list {
  padding-bottom: 150px;
  height: 100svh;
  overflow-y: auto;
}
