<div nz-row>
    <div nz-col nzFlex="65px" class="aside">
        <app-sidebar></app-sidebar>
    </div>
    <div nz-col nzFlex="calc(100% - 65px)">
        <div class="main">
            <div nz-row class="navbar" style="margin-bottom: 15px;">
                <app-navbar style="width: 100%;"></app-navbar>
            </div>
            <div nz-row nzJustify="space-between">
                <div nz-col nzFlex="5">
                    <div nz-row class="categories">
                        <app-categories></app-categories>
                    </div>
                    <div nz-row [nzGutter]="[10,20]" class="product-list">
                        <app-product-card nz-col nzLg="8" nzXl="6" *ngFor="let card of productCards"></app-product-card>
                    </div>
                </div>
                <div nz-col class="invoice">
                    order
                </div>
            </div>
        </div>
    </div>
</div>