<div class="aside">
    <div style="display: flex; align-items: center; justify-content: center; padding-top:42px ;">
        <mat-icon>sort</mat-icon>
    </div>
    <ul class="menu-inner">
        <li class="menu-item">
            <a href="#">Coffee</a>
        </li>
        <li class="menu-item">
            <a href="#">Tea</a>
        </li>
        <li class="menu-item">
            <a href="#">Juice</a>
        </li>
        <li class="menu-item">
            <a href="#">Meal</a>
        </li>
        <li class="menu-item">
            <a href="#">Snack</a>
        </li>
        <li class="menu-item">
            <a href="#">Dessert</a>
        </li>
    </ul>
</div>