<div class="order-container" nz-flex [nzVertical]="true" nzGap="15px" nzJustify="space-between">
    <div class="order-header" nz-flex nzJustify="space-between" nzAlign="center">
        <h2>Order #2156</h2>
        <button class="clear-button">Clear All</button>
    </div>
    <div class="order-list" nz-flex [nzVertical]="true" nzGap="15px">
        <app-order-card *ngFor="let order of orderCards"></app-order-card>
    </div>
    <div class="order-summary" nz-flex [nzVertical]="true" nzJustify="space-between">
        <div class="summary-details" nz-flex [nzVertical]="true" nzGap="5px">
            <div class="summary-item">
                <p>Subtotal</p>
                <p>$11.8</p>
            </div>
            <div class="summary-item discount">
                <p>Discount price</p>
                <p>$0</p>
            </div>
            <div class="summary-item tax">
                <p>Tax</p>
                <p>$4.99</p>
            </div>
        </div>
        <div class="summary-divider">
            <span></span>
            <hr>
            <span></span>
        </div>
        <div class="summary-total">
            <p>Total</p>
            <p>$16.79</p>
        </div>
    </div>
    <button class="print-button">
        Print bills
    </button>
</div>